<template name="index">

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <div class="center"><img src="meteor.png" width="300" /></div>
      <h1 class="header center red-text">Subscription Demo</h1>
      <div class="row center">
        <h5 class="header col s12 light">Connecting subscriptions and variables at a template level, removing reliance on <code class="inline">iron:router</code>, <code class="inline">meteorhacks:flow-router</code> or other routing packages and speeding up page delivery to the client.</h5>
      </div>
      <div class="row center">
        <a href="{{pathFor 'demo1_source'}}" id="download-button" class="btn-large waves-effect waves-light orange">Using Iron:Router</a>
        <a href="{{pathFor 'demo2_source'}}" id="download-button" class="btn-large waves-effect waves-light green">Using Template Level Subscriptions</a>
      </div>
      <div class="row center">
        <br><br>
        <h5><a href="https://github.com/aaronthorp/meteor-sub-demo">https://github.com/aaronthorp/meteor-sub-demo</a></h5>
        <br><br>
        <a href="#" id="resetData" class="btn-large waves-effect waves-light red">Reset Data</a>
      </div>
      <br><br>

    </div>
  </div>


</template>
