<template name="demo2_posts">
<div class="container">
  <ul class="collection with-header">
     <li class="collection-header"><h4>Posts</h4></li>
    {{#each this}}
      <li class="collection-item"><div>{{title}}<a href="{{pathFor 'demo2_post'}}" class="secondary-content"><i class="mdi-content-send"></i></a></div></li>
    {{else}}
      {{#if Template.subscriptionsReady}}
        <li class="collection-item"><em>No Posts to display</em></li>
      {{else}}
        <li class="collection-item"><em>Loading post items...</em></li>
      {{/if}}
    {{/each}}
   </ul>
</div>
</template>
